# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint
*.xcscheme

# SwiftPM
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Derived data
DerivedData/

# User-specific files
*.DS_Store

# Logs
*.log

# Swift Package Manager
.swiftpm/
android_app/gradle/wrapper/gradle-wrapper.properties
android_app/gradle/libs.versions.toml
android_app/.idea/inspectionProfiles/Project_Default.xml
android_app/.idea/AndroidProjectSystem.xml
