<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.511871082784-oeivf2guad3h35kq667tjvi4gpmr6rjm</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
    <key>paypalBaseUrl</key>
    <string>https://sandbox.paypal.com</string> <!-- Use sandbox for testing, or production URL for live -->
    <key>paypalClientId</key>
    <string>ATWhnnTwJeTlDn5ZHDAqGe_5_jEe7fErSWl86LP5INce3EJttsBs_Y0BE3h76_cQKIpHy_pGK4wugmp3</string>
    <key>paypalSecrect</key>
    <string>EEhRqLsM3dzj_PhLT0CFSIDdJGcHbkjm-DO7YSk6hSI8VFeoDduFWBhjod3HFw2SA07agAqNn1bhl0MG</string>
</dict>
</plist>
